body{
}

nav{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#nav-item ul{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#nav-item ul li{
    list-style-type: none
}
.icon{
    width: 30px;
    height: 30px;
}
#nav-item ul li input{
    width: auto;
    height: 30px;
    border: 2px solid black;
}

header{
display: block;
height: max-content;
}
.parent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent img{
    width: 90%;
}
.parent div{
    position: absolute;
    text-align: center;
}

#blgo_item_list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
}
#blog_item{
    margin: auto;
    border: 1px solid grey;
    width: 50%;
    height: 250px;
    display: flex;
}
#blog_text{
    padding: 20px;
}
#blog_item img{
    height: 100%;
    padding: 0;
    margin: 0;
}


#about_section{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
#about_us{
    width: 50%;
    background: black;
    color: white;
}
#about_us p{
    padding: 0px 100px 0px 100px;
}
#about_section img{
    width: 50%;
}
#subscribe_section{
    margin-top: 40px;
}
#subscribe_section h1{
    text-align: center;
}
#subscribe_section div{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#subscribe_section input{
    border: 2px solid black;
    margin: 0;
    height: 40px;
    width: 320px;
    
}
#subscribe_section button{
    border: 2px solid black;
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    width: 50px;
}

#viedo_section{
    margin: auto;
    width: 60%;
    margin-top: 80px;
}

#active_video video{
    width: 100%;
}
#video_slider{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
#video_slider video{
    width: 30%;
}
